# Git files
.git/
.github/

# VS Code
*.code-workspace

# VS Code extension
*.vsix

# Model Weights
weights/
*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.mlpackage
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
*_paddle_model/
*_ncnn_model/
pnnx*

# Media files
image.png
